@model List<MusicStore.Models.ProductViewModel>

<!-- Your view content here -->

<h1>Product Details</h1>

<table class="table">
    <thead>
        <tr>
            <th>ID</th>
            <th>Name</th>
            <th>Description</th>
            <th>Price</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var product in Model)
        {
            <tr>
                <td>@Html.DisplayFor(model => product.Id)</td>
                <td>@Html.DisplayFor(model => product.Name)</td>
                <td>@Html.DisplayFor(model => product.Description)</td>
                <td>@Html.DisplayFor(model => product.Price)</td>
            </tr>
        }
    </tbody>
</table>
